/* src/utilities/Comments.css */

.comments-section {
  margin-top: 1rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.comment-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.comment-form button {
  align-self: flex-end;
}

.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-list li {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
}

.comment-list p {
  margin: 0;
}
.send_btn {
  width: 1.6rem;
  filter: invert(1) brightness(0) saturate(100%);
  color: #ccc;
}
.img_btn {
  height: 3.2rem;
  position: relative;
  right: 3.2rem;
  bottom: 0.2rem;
}
